* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
